@{
    ViewData["Title"] = "User Management";
    var success = TempData["success"];
    var error = TempData["error"];
}

<h1>User Management</h1>

<a class="btn btn-outline-primary my-3" href="/Create/UserCreatePage">Create</a>

@if (success is not null)
{
    <div class="alert alert-success" role="alert">
        @success
    </div>
}

@if (error is not null)
{
    <div class="alert alert-danger" role="alert">
        @error
    </div>
}

<table class="table">
    <thead>
        <tr>

            <th>UserName</th>
            <th>Email</th>
            <th>UserRole</th>
            <th>IsActive</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.UserRole</td>
                <td>@item.IsActive</td>
                <td>
                    <a class="btn btn-outline-success" href="/Create/EditUser/@item.UserId">Edit</a>
                    <button class="btn btn-outline-danger" onclick="btnDelete('@item.UserId')">Delete</button>
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts {
    <script>
        function btnDelete(id) {
            if (id == 0 || id == null)
                return;

            if (window.confirm("")) {
                window.location.href = `/Create/Delete/${id}`;
            }
        }
    </script>
}